<h1><%= @actor.name %></h1>

<h2>Born: <%= @actor.year_of_birth %></h2>

<p><img height=200 src=<%= @actor.thumbnail %>></p>



<% @actor.movies.each do |movie| %>
  <p><h4>Movies: </h4><%= link_to movie.title, movie_path(movie) %></p>
<% end %>

<%= link_to "Edit", edit_actor_path %> |
<%= link_to "Show All Actors", actors_path %>

