<%= form_for @movie do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :youtube_embed_link %>
    <%= f.text_field :youtube_embed_link %>
  </p>
  <p>
    <%= f.label :thumbnail %>
    <%= f.text_field :thumbnail %>
  </p>
  <p>Add starring actors already in our database:</p>
  <% Actor.all.each do |actor| %>
  <%= check_box_tag 'movie[actor_ids][]', actor.id %> <%= actor.name %>
  <br><br>
  <% end %>
  <%= f.submit %>
<% end %>
