<h1><%= @movie.title %></h1>

<div><%= @movie.youtube_embed_link.html_safe %></div>

<p><%= @movie.summary %></p>

<% @movie.actors.each do |actor| %>
<p><%= link_to actor.name, actor_path(actor) %></p>
<% end %>

<%= link_to "Edit", edit_movie_path %> |
<%= link_to "Show All Movies", movies_path %>

